<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<div>
	<label>UUIT</label>
	&nbsp;<input type="string" [(ngModel)] ="uuid" /><br>
	<label>Label 2</label>
	&nbsp;<input type="string" [(ngModel)] ="label2" /><br>
	<label>Label 3</label>
	&nbsp;<input type="string" [(ngModel)] ="label3" /><br>
	<label>label4</label>
	&nbsp;<input type="string" [(ngModel)] ="label4" /><br>
	<button (click)="add()">Add</button>
</div>

<div *ngFor="let ele of list">
	UUID ===== {{ele.uuid}}
</div>